.popup__form {
  margin: 0;
  padding: 0 22px 37px 22px;
  margin-top: 54px;
  box-sizing: border-box;
  width: 100%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
}

@media screen and (max-width: 710px) {
  .popup__form {
    padding: 0 22px 25px 22px;
    margin-top: 75px;
  }
}
