.popup__close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  opacity: 1;
  transition: opacity 0.2s linear;
  background-image: url(../../../images/Close_Icon.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0px;
  background-color: black;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 710px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
